<?xml version="1.0"?>
<phpunit
	bootstrap="tests/class-newspack-gam-unit-tests-bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
	syntaxCheck="true"
	>
	<testsuites>
		<testsuite name="Newspack GAM Test Suite">
			<directory suffix=".php">./tests/unit-tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./includes</directory>
			<exclude>
				<directory suffix=".php">./node_modules</directory>
				<directory suffix=".php">./tests</directory>
				<directory suffix=".php">./vendor</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
