@import '~@wordpress/base-styles/colors';

.stick-to-top:last-child {
	position: sticky;
	top: 1rem;
}

.widget_newspack-ads-widget {
	overflow: hidden;
}

// TMP: the overflow: hidden should be removed in the theme.
#page {
	overflow: initial !important;
}

.newspack_global_ad {
	max-width: 100%;
	&.fixed-height {
		padding: 16px 0;
		box-sizing: content-box;
	}
}

.newspack-broadstreet-ad {
	max-width: 100%;
}

/**
 * Placement mock
 */
.newspack-ads__ad-placement-mock {
	&__content {
		position: relative;
		align-items: center;
		display: flex;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
			Cantarell, 'Helvetica Neue', sans-serif;
		justify-content: center;
	}
	&__svg {
		display: block;
		pointer-events: none;
		position: absolute;
		rect {
			fill: white;
			stroke: rgba( $gray-900, 0.4 );
			stroke-width: 1px;
		}
		line {
			stroke: rgba( $gray-900, 0.4 );
			stroke-width: 1px;
		}
	}
	&__label {
		background: white;
		border: 1px dashed rgba( $gray-900, 0.4 );
		color: $gray-900;
		font-size: 10px;
		line-height: 1.6;
		padding: 4px 8px;
		pointer-events: none;
		position: absolute;
		text-align: center;
	}
}
