.newspack-ads-ad-unit {
	margin: 0 auto;
	max-width: 100%;

	.newspack-ads-ad-unit__icon {
		align-items: center;
		display: flex;
		flex: 0 0 24px;
		height: 24px;
		justify-content: center;
		margin: 0;
		width: 24px;

		> svg {
			fill: currentColor;
			flex: 0 0 auto;
			margin-right: 1ch;
		}
	}

	.components-placeholder__fieldset {
		flex-wrap: nowrap;
	}

	.components-base-control {
		width: 100%;
	}

	.components-base-control__label {
		font-weight: bold;
	}

	.components-base-control__field {
		display: flex;
		flex-wrap: wrap;
		margin: 0;

		> * {
			flex: 1 1 100%;
		}
	}

	.components-placeholder {
		display: flex;
		height: 100%;
		min-height: 56px;

		.components-placeholder__label {
			display: none;
		}
	}
}
